@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
	width: 100vw;
	height: 100vh;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0px;
	background-image: url("./photo-1655159428752-c700435e9983.jpeg");
	align-items: center;
}
#navbar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	background-color: #5f8575;
}
#fundMenu {
	display: flex;
	margin: 0px;
	width: 250px;
}
#fundText {
	display: flex;
	align-items: center;
	width: 200px;
}
button {
	cursor: pointer;
}
#addFunds {
	position: relative;
	left: 30px;
	font-size: 20px;
	font-weight: bold;
	background-color: #9cc5b4;
}
#addFunds:hover {
	background-color: #6b887c;
}
#title {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 70px;
	margin-top: 40px;
	color: rgba(240, 248, 255, 0.603);
}
#subtitle {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	color: rgba(240, 248, 255, 0.338);
}
#game {
	position: relative;
	top: 10px;
	display: flex;
	flex-direction: row;
	width: 90%;
	background-color: rgba(0, 0, 0, 0.126);
	height: 60%;
	border: 6px solid rgba(0, 0, 0, 0.364);
}
#opponent {
	display: flex;

	width: 50%;
	border-right: 3px solid rgba(0, 0, 0, 0.364);
	flex-direction: column;
	justify-content: space-around;
}
#opponentsButtons {
	visibility: hidden;
}
#user {
	display: flex;

	width: 50%;
	border-right: 3px solid rgba(0, 0, 0, 0.364);
	flex-direction: column;
	justify-content: space-around;
}
#pointsDisplay {
	display: flex;
	justify-content: space-around;
	width: 70%;
	margin-top: 40px;
	font-family: "Bebas Neue", sans-serif;
	font-size: 30px;
	color: rgba(240, 248, 255, 0.555);
}
#userText {
	width: 50%;
}
#opponentsText {
	width: 50%;
}
button {
	height: 60px;
	width: 100px;
	/* position: relative;
    top: 84%; */
	font-family: "Bebas Neue", sans-serif;
	font-size: 30px;
	background-color: #4683b483;
	border: 2px solid rgba(0, 0, 0, 0.264);
	border-radius: 10%;
	color: rgba(0, 0, 0, 0.683);
}
#buttons {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
#userCards {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#opponentsCards {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#opponentStartCard {
	height: 100%;
}

.red {
	color: red;
}

#overlayText {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8); /* fundal semi-transparent */
	color: white;
	font-family: "Bebas Neue", sans-serif;
	font-size: 80px;
	visibility: hidden;
	/* opacity: 0; */
	/* transition: opacity 0.5 ease; */
}

#cardContainer {
	perspective: 1000px;
	display: flex;
}
.cardFlip {
	/* position: relative; */
	width: 170px;
	/* height: 168px; */
	aspect-ratio: 2.5/3.5;
	transform-style: preserve-3d;
	transition: transform 0.8s, opacity 1s;
}

.cardFace.appear {
	opacity: 1;
}

.cardFlip.flipped {
	/* asta o activez in javasript */
	transform: rotateY(180deg);
}

.cardFace {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 9%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0;
	transition: opacity 3s;
	/* transform: rotateY(180deg); */
}
.topLeft {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	justify-content: start;
	padding: 15px 0 0 15px;
}
.bottomRight {
	display: flex;
	flex-direction: column;
	align-items: end;
	width: 100%;
	justify-content: end;
	padding: 0 15px 15px 0;
}

.cardFront {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	transform: rotateY(180deg);
}
.cardBack {
	background-image: url("./backSideUpPhoto.jpg");
	background-size: cover;
}
